@use "../App/variables" as *;
@use "../App/buttons";

.overlay {
    overflow-x: hidden;
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    transition: opacity 0.3s;
}


.button-action {
    @include buttons.button_action;
}

.button-move {
    @include buttons.button-move;
}


// FIXME убрать скрол при октрытии карзины 


.cart {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    right: 0;
    background-color: $bg-app;
    width: 380px;
    padding: 0 20px;
    transition: right 0.6s;


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 27px;
    }

    &__title {
        font-weight: 900;
        font-size: 32px;
    }

    &__footer {
        margin-top: auto;
        margin-bottom: 38px;
        font-size: 16px;
    }

    &__total,
    &__tax {
        display: flex;
        column-gap: 8px;
        margin-bottom: 20px;
    }

    &__line {
        flex-grow: 1;
        border-bottom: 1px dashed $color-gray-500;
        margin-bottom: 5px;
    }

    &__total-value,
    &__tax-value {
        font-weight: 600;
    }

}

.item {
    display: flex;
    column-gap: 12px;
    align-items: center;
    padding: 24px 20px;
    border-radius: 20px;
    border: 1px solid $color-gray-300;

    &__logo {
        width: 80px;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    &__info {
        flex-grow: 1;
    }

    &__title {
        font-weight: 400;
        margin-bottom: 8px;
    }

    &__price {
        display: block;
        font-weight: 700;
    }
}