$bg-global: #96c3eb;
$bg-app: #fff;
$bg-like: #fef0f0;
$bg-green: #2cd250;

$color-gray-700: #5c5c5c;
$color-gray-500: #bdbdbd; //#C4C4C4
$color-gray-400: #d3d3d3;
$color-gray-300: #e9e9e9; //E3E3E3
$color-gray-200: #f2f2f2;

$color-accent: #000;
$color-pink: #ff6666;
$color-slider-1: #ce9f74;

$hover-transition-duration: 0.3s;
$slider-transition: 0.5s ease-out;
