$bg-global: #96c3eb;
$bg-app: #fff;
$bg-like: #FEF0F0;
$bg-green: #2CD250;

$color-gray-700: #5C5C5C;
$color-gray-500: #BDBDBD; //#C4C4C4
$color-gray-400: #d3d3d3;
$color-gray-300: #E9E9E9; //E3E3E3
$color-gray-200: #F2F2F2;

$color-accent: #000;
$color-pink: #FF6666;
$color-slider-1: #CE9F74;


$hover-transition-duration: .3s;
$slider-transition: .5s ease-out;