$primary: #E9E9E9;
$highlight: #BDBDBD;
$hovered: #5C5C5C;

$line: 1px solid $primary;
$transition: .3s;


.header {
    display: flex;
    justify-content: space-between;
    padding: 44px;
    border-bottom: $line;
  
    &__logo {
      margin-right: 12px;
    }
  
    &__left {
      display: flex;
    }
  
    &__title {
      font-size: 20px;
    }
  
    &__subtitle {
      color: $highlight;
      font-size: 14px;
      letter-spacing: 0.42px;
    }
  
    &__right {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  
    &__cart {
      display: flex;
      cursor: pointer;

      svg path {
        transition: $transition;
      }

 
      &:hover {
        .header__money{
          color: $hovered;
        }
        svg path {
          stroke: $hovered;
        }
      }
    }
  
    &__likes,
    &__profile {
      height: 20px;
      width: 20px;
      cursor: pointer;

      svg path{
        transition: $transition;

      }

      &:hover {
        svg path {
          fill: $hovered;
        }
      }
    }
  
    &__money {
      padding-left: 12px;
      color: $highlight;
      font-weight: 500;
      transition: $transition;


    }
  }
  