@use "components/App/variables" as *;
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap";
@import "components/App/reset";

body {
  font-family: "Inter", system-ui;
  font-size: 14px;
  background-color: $bg-global;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #fff;
  border-radius: 32px;
  max-width: 1130px;
  margin: 32px auto;

  .main {
    padding: 50px 65px;
  }
}

