@use "components/App/variables" as *;
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap";

// ============== Reset Start ===================
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button, 
input {
  font-family: inherit;
  font-size: inherit;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
// ============ Reset End ========================

body {
  font-family: "Inter", system-ui;
  font-size: 14px;
  background-color: $bg-global;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #fff;
  border-radius: 32px;
  max-width: 1130px;
  margin: 32px auto;

  .main {
    padding: 50px 65px;
  }
}

